@using Smith_Swimming_School.Models;
@model Enrollment;

@{
    ViewData["Title"] = "AlreadyEnrolled";
}

<h1>Already Enrolled</h1>

<div class="card shadow">
    <div class="card-body">
        <h5 class="card-title">⚠️Swimmer is already enrolled on course: @Model.Course.Title⚠️</h5>
        <p>@Model.Swimmer.Name is already enrolled on this course</p>
    </div>
</div>
@if(User.IsInRole("Swimmer")){
    <a asp-action="Home" asp-controller="Swimmers">Swimmers panel</a>
}else if(User.IsInRole("Administrator")){
    <a asp-action="Index" >Back to list</a>
}
