.pagination .page-item.active .page-link {
  background-color: #0d6efd;
  color: #fff;
  border-color: #0d6efd;
}

.pagination .page-link {
  color: #0d6efd;
}

  .pagination .page-link:hover {
    color: #0056b3;
  }

.pagination .page-item.disabled .page-link {
  color: #6c757d;
}
