@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-4">
    <div class="jumbotron text-center">
        <h1 class="display-4">Bienvenido a Banco Online</h1>
        <p class="lead">Tu seguridad y comodidad financiera en un solo lugar.</p>
        <hr class="my-4">
        <p>Descubre cómo nuestros servicios pueden ayudarte a alcanzar tus metas financieras de manera segura y eficiente.</p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img src="~/images/home/index/cuentaAhorros.jpg" class="card-img-top" alt="Cuenta de Ahorros">
                <div class="card-body">
                    <h5 class="card-title">Cuentas de Ahorro</h5>
                    <p class="card-text">Ahorra con tasas de interés competitivas y administra tu dinero de manera eficiente.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="~/images/home/index/PrestamosLogo.jpg" class="card-img-top" alt="Préstamos">
                <div class="card-body">
                    <h5 class="card-title">Préstamos</h5>
                    <p class="card-text">Opciones de financiamiento accesibles para que cumplas tus objetivos.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="~/images/home/index/tarjetacreditologo.jpg" class="card-img-top" alt="Tarjetas de Crédito">
                <div class="card-body">
                    <h5 class="card-title">Tarjetas de Crédito</h5>
                    <p class="card-text">Disfruta de beneficios exclusivos con nuestras tarjetas diseñadas para ti.</p>
                </div>
            </div>
        </div>
    </div>
</div>
