<!--<div [ngClass]="getClasses()">
  Hello master-->
<!--The are {{model.getProducts().length}} products in the model-->
<!--</div>-->
<!-- A las instrucciones entre [] se las llama directivas -->
<!-- [ngClass] es una directiva -->
<!-- Todo lo que sean [] significa que vienen desde el componente al html-->
<!--<div class="form-group m-2">
  <label>Name:</label>
  <input class="form-control" [value]="model.getProduct(1).name || 'None'" />
</div>-->
<!--<div [ngClass]="getClasses()"
     [textContent]="'Name: ' + (model.getProduct(1)?.name || 'None')"
     >
</div>-->
<!--<div [ngClass]="getClasses()">
  Name: {{(model.getProduct(1)?.name || 'None')}}
</div>-->
<!--
  Directivas Basicas:
  1. [ngClass]: asigna clases a elementos HTML
  2. [ngStyle]: adjudica estilos CSS
  [ngIf]: inserta contenido en un HTML evaluando una expresion booleana
  [ngFor]: inserta el mismo contenido para cada elemento en un datasource
  [ngSwitch]: elige entre bloques para insertar HTML
  [ngTemplateOutlet]: repite un bloque de contenido

  //Para definir la clase de un determinado elemento en 1
  1. <div [class]="expr"></div>
  2. <div [class.myClass]="expr"></div>
  3. <div [ngClass]="map"></div>

  //para definir styles en un determinado elemento en 2
  1. <div [style.myStyle]="expr"></div> asigna un estilo al resultado de una expresion
  2. <div [style.myStyle.units] = "expr"></div> permite usar unidades de medida para el estilo
  3. <div [ngClass]="map"></div>: usamos multiples estilos desde un mapa de objetos
  div *ngIf="getProductCount() > 4"
  por detras hace:
  <ng-template ngIf="getProductCount()" > 4
-->
<!--<div class="text-black m-2">
  <div class="p-2 bg-warning">
    The <span [ngStyle]="getStyles(1)">first</span> product is {{model.getProduct(1).name }}
  </div>
  <div class="p-2 bg-info">
    The <span [ngStyle]="getStyles(2)">second</span> product is {{model.getProduct(2).name }}
  </div>-->
<!--<div class="p-2 bg-warning">
  The <span [style.fontSize]="fontSizeWithUnits">first</span> product is {{model.getProduct(1).name }}
</div>
<div class="p-2 bg-info">
  The <span [style.fontSize.px]="fontSizeWithoutUnits">second</span> product is {{model.getProduct(2).name }}
</div>-->
<!--<div class="p-2 " [ngClass]="getClassesMap(1)">
  the first product is {{model.getProduct(1).name }}
</div>
<div class="p-2 " [ngClass]="getClassesMap(2)">
  the second product is {{model.getProduct(1).name }}
</div>
<div class="p-2 " [ngClass]="{'bg-success':model.getProduct(3).price < 50, 'bg-info':model.getProduct(3).price >= 50}">
  the third product is {{model.getProduct(3).name }}
</div>
<div [class]="getClasses(1)">
  the first product is {{model.getProduct(1).name }}
</div>
<div class="p-2"
     [class.bg-success]="model.getProduct(2)?.price < 50"
     [class.bg-info]="model.getProduct(2)?.price >= 50">
  the second product is {{model.getProduct(2).name }}
</div>-->
<!--<div [class]="getClasses(2)">
  the second product is {{model.getProduct(2).name }}
</div>-->
<!--</div>-->
<!--<div class="text-white m-2">
  <div class="bg-info p-2">
    There are {{ getProductCount() }} products
  </div>
  <div *ngIf="getProductCount() > 4" class="bg-info p-2">
    There are more the 4 products in the model
  </div>
  <div *ngIf="getProductByPosition(0).name == 'Kayak'" class="bg-info p-2">
    The first product is Kayak
  </div>
</div>-->
<!--<div class="text-white m-2">
  <div class="bg-info p-2">
    There are {{getProductCount()}} products.
  </div>
  <div class="bg-info p-2 mt-1" [ngSwitch]="getProductCount()">
    <span *ngSwitchCase="2">There are two products</span>
    <span *ngSwitchCase="5">There are five products</span>
    <span *ngSwitchDefault>This is the default</span>
  </div>
</div>-->
<!--<div class="text-white m-2">
  <div class="bg-info p-2">
    There are {{getProductCount()}} products.
  </div>
  <table class="table table-sm table-bordered mt-1 text-dark">
    <thead>
      <tr>
        <th>Index</th>
        <th>Name</th>
        <th>Category</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of getProducts(); let i = index; let odd = odd; let last = last; let first= first; let c=count">
        <td [class.bg-warning]="first || last">{{i + 1}} of {{c}}</td>
        <td [class.bg-primary]="odd" [class.bg-info]="!odd">{{item.name}}</td>
        <td [class.bg-primary]="odd" [class.bg-info]="!odd">{{item.category}}</td>
        <td [class.bg-primary]="odd" [class.bg-info]="!odd">${{item.price}}</td>
      </tr>
    </tbody>
  </table>
</div>-->
<!--
   EVENT Y FORMS
  <td (mouseover) = "selectedProduct = item.name">
  propiedades del event
  target: objeto que dispara el evento
  type: cadena que identifica el tipo de evento que se ha disparado
  timeSpan: numero en que momento se disparo el evento, expresado en milisegundos desde 1/1/1970
  ngModel:
  Reglas de validacion:
  required, minlength, maxlength, pattern
  styles:
  ng-untouched ng-touched
  ng-pristine ng-dirty
  ng-valid ng-invalid

  errors:
  minlength.requiredLength: numero de caracteres requeridos
  minlength.actualLength: numero de caracteres introducidos por el usuario
  pattern.requiredPattern: devuelve la expresion regular especificada en pattern
  pattern.actualValue: devuelve el contenido del elemento
-->
<!--<div class="text-white m-2">
  <div class="bg-info text-white p-2">
    Selected Product: {{selectedProduct ?? '(None)'}}
  </div>
  <table class="table table-sm table-bordered mt-1 text-dark">
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Category</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of getProducts(); let i = index;">
        <td [class.bg-info]="getSelected(item)" (mouseover)="selectedProduct=item.name">{{i + 1}}</td>
        <td [class.bg-info]="getSelected(item)">{{item.name}}</td>
        <td [class.bg-info]="getSelected(item)">{{item.category}}</td>
        <td [class.bg-info]="getSelected(item)">${{item.price}}</td>
      </tr>
    </tbody>
  </table>
  <div class="form-group">
    <label>Product Name: </label>
    <input class="form-control" [(ngModel)]="selectedProduct" />
  </div>
  <div class="form-group">
    <label>Product Name: </label>
    <input class="form-control" [(ngModel)]="selectedProduct" />
  </div>
</div>-->
<!--<ng-template #titleTemplate let-text="title">
  <h4 class="p-2 bg-success text-white">{{text}}</h4>
</ng-template>

<ng-template [ngTemplateOutlet]="titleTemplate"
             [ngTemplateOutletContext]="{title:'Header'}"
              ></ng-template>

<div class="bg-info p-2">
  There are {{getProductCount()}} products.
</div>

<ng-template [ngTemplateOutlet]="titleTemplate"
             [ngTemplateOutletContext]="{title:'Footer'}"
             ></ng-template>-->
<!--
  Estos eventos se conocen como Hooks
  ngOnInit: despues de lanzar los valores iniciales se ejecuta
  ngOnChanges: cuando el input ha cambiado se ejecuta
  ngDoCheck: deteccion de cambios
  ngAfterContentInit: cuando se inicializa la directiva
  ngAfterContentChecked: verficar cambios producidos
  ngOnDestroy: Antes de que la directiva se destruya
-->
<!--<div class="container-fluid">
  <div class="row p-2">
    <div class="col-6">
      <form novalidate #form="ngForm" (ngSubmit)="submitForm(form)">
        <div class="bg-danger text-white p-2 mb-2" *ngIf="formSubmitted && form.invalid">
          There are problems with the form
          <ul>
            <li *ngFor="let error of getFormValidationMessages(form)">
              {{error}}
            </li>
          </ul>
        </div>
        <div class="form-group">
          <label>Product Name</label>
          <input class="form-control" name="name" [(ngModel)]="newProduct.name" required minlength="5" pattern="^[A-Za-z ]+$" />-->
<!--
<ul class="text-danger list-unstyled" *ngIf="name.dirty && name.invalid">
  <li *ngFor="let error of getValidationMessages(name)">
    {{error}}
  </li>
   <li *ngIf="name.errors?.['required']">
    You must enter a product name
  </li>
  <li *ngIf="name.errors?.['pattern']">
    Product names can only contain letters and spaces
  </li>
  <li *ngIf="name.errors?.['minlength']">
    Product names must be at least {{name.errors?.['minlength'].requiredLength}} characters
  </li>
  </ul>
-->
<!--</div>
<div class="form-group">
  <label>Category</label>
  <input class="form-control" name="category" [(ngModel)]="newProduct.category" required />-->
<!--<ul class="text-danger list-unstyled" *ngIf="name.dirty && name.invalid">
  <li *ngFor="let error of getValidationMessages(name)">
    {{error}}
  </li>
</ul>-->
<!--</div>
<div class="form-group">
  <label>Price</label>
  <input class="form-control" name="price" [(ngModel)]="newProduct.price" required type="number" />-->
<!--<ul class="text-danger list-unstyled" *ngIf="name.dirty && name.invalid">
  <li *ngFor="let error of getValidationMessages(name)">
    {{error}}
  </li>
</ul>-->
<!--</div>
    <button class="btn btn-primary"
            [disabled]="formSubmitted && form.invalid"
            [class.btn-secondary]="formSubmitted && form.invalid"
            type="submit">
      Create
    </button>
  </form>
</div>
<div class="col">
  <div class="form-group bg-info text-white p-2">
    <label>Name</label>
    <input class="bg-primary text-white form-control"
           [(paModel)]="newProduct.name" />-->
<!--Forma con input y output-->
<!--[paModel]="newProduct.name"
(paModelChange)="newProduct.name = $event"-->
<!--</div>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th></th>
            <th>Name</th>
            <th>Category</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of getProducts(); let i = index;"
              [pa-attr]="getProducts().length < 6 ? 'table-success' : 'table-warning'"
              [pa-product]="item"
              (pa-category)="newProduct.category = $event"
              >
            <td>{{i + 1}}</td>
            <td>{{item.name}}</td>
            <td [pa-attr]="item.category == 'Soccer' ? 'table-info' : null">{{item.category}}</td>
            <td [pa-attr]="'table-info'">${{item.price}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>-->
<!--
  Directives Structural: Modifica el layout: añade y elimina elementos
  microtemplates *
  ng-template
-->
<!--<div class="container-fluid">
  <div class="row p-2">
    <div class="col-6">
      <form novalidate #form="ngForm" (ngSubmit)="submitForm(form)">
        <div class="bg-danger text-white p-2 mb-2" *ngIf="formSubmitted && form.invalid">
          There are problems with the form
          <ul>
            <li *ngFor="let error of getFormValidationMessages(form)">
              {{error}}
            </li>
          </ul>
        </div>
        <div class="form-group">
          <label>Product Name</label>
          <input class="form-control" name="name" [(ngModel)]="newProduct.name" required minlength="5" pattern="^[A-Za-z ]+$" />
        </div>
        <div class="form-group">
          <label>Product Category</label>
          <input class="form-control" name="category" [(ngModel)]="newProduct.category" required />
        </div>
        <div class="form-group">
          <label>Product Price</label>
          <input class="form-control" name="price" [(ngModel)]="newProduct.price" required type="number" />
        </div>
        <button class="btn btn-primary mt-2" type="submit" [disabled]="formSubmitted && form.invalid" [class.btn-secondary]="formSubmitted && form.invalid">Create</button>
      </form>
    </div>
    <div class="col">
      <div class="form-check">
        <label class="form-check-label">Dark Cell Color</label>
        <input type="checkbox" class="form-check-input" [(ngModel)]="darkColor" />
      </div>
      <table class="table table-bordered table-striped" [PaCellDarkColor]="darkColor">
        <thead>
          <tr>
            <th>Index</th>
            <th>Name</th>
            <th>Category</th>
            <th>Price</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *paFor="let item of getProducts(); let i=index let odd=odd; let even=even"
              [class.bg-info]="odd" [class.bg-warning]="even" class="align-middle">
            <td>{{i+1}}</td>
            <td>{{item.name}}</td>
            <td>{{item.category}}</td>
            <td>${{item.price}}</td>
            <td class="text-center">
              <button class="btn btn-danger btn-sm" (click)="deleteProduct(item.id)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>-->

<div class="container-fluid">
  <div class="row p-2">
    <div class="col-4 p-2 bg-success text-white">
      <app-product-form (paNewProduct)="addProduct($event)"></app-product-form>
    </div>
    <div class="col p-2 bg-primary text-white">
        <app-product-table [model]="model"></app-product-table>
    </div>
  </div>
</div>
