
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div>
    <a asp-controller="Courses" asp-action="index" class="btn btn-dark">Courses Admin Panel</a>
    <a asp-controller="Groups" asp-action="index" class="btn btn-dark">Groups Admin Panel</a>
    <a asp-controller="Enrollments" asp-action="index" class="btn btn-dark">Enrollments Admin Panel</a>
    <a asp-controller="Coaches" asp-action="index" class="btn btn-dark">Coaches Admin Panel</a>
</div>

