
<h1>Welcome </h1>
<ul>
    <li>
        <a asp-action="Offers">Check our offers!</a>
    </li>
    <li>
        <a asp-action="Facilities">Check our facilities</a>
    </li>
    <li>
        <a asp-action="AddSwimmer">Register as a Swimmer!</a>
    </li>
</ul>
