
@{
    ViewData["Title"] = "SwimmerRegisteredSuccess";
}

<h1>Swimmer Registered Successfully</h1>

<div class="card shadow">
    <div class="card-body bg-success opacity-75">
        <h5 class="card-title"> Swimmer has been successfully registered ✅ </h5>
        <p>Please log off and log on again to access with your new profile</p>
    </div>
</div>

