
@{
    ViewData["Title"] = "SwimmerRegistered";
}

<h1>Swimmer Registered</h1>
<div class="card shadow">
    <div class="card-body">
        <h5 class="card-title">⚠️Swimmer is already registered ⚠️</h5>
        <p>Please log off and log on again to access with your new profile</p>
    </div>
</div>

