<div class="card bg-success opacity-75">
    <div class="card-header">
        <h4>Se ha descargado el archivo @ViewBag.key</h4>
    </div>
    <div class="card-body">
        <p>Exito al descargar!</p>
    </div>
</div>
<a asp-action="Index" asp-route-bucketName="@ViewBag.bucketName">Volver al listado</a>