<form asp-action="Upload" method="post" enctype="multipart/form-data">
   <div class="card bg-light opacity-75">
       <div class="card-header">
         <h4>Subir fichero al bucket @ViewBag.bucketName</h4>
       </div>
       <div class="card-body">
           <div class="input-group">
                <label class="form-label">Archivo</label>
                <input type="file" name="file" class="form-control" />
           </div>
       </div>
       <div class="card-footer">
            <input type="hidden" name="bucketName" value="@ViewBag.bucketName" />
           <button type="submit" class="btn btn-primary">Subir fichero</button>
       </div>
   </div>
</form>
<a asp-action="Index" asp-route-bucketName="@ViewBag.bucketName" class="btn btn-dark">Volver al listado</a>