@{
    ViewData["Title"] = "Registro Completado";
}

<div class="card bg-danger bg-opacity-50">
    <div class="card-header">
        <h1 class="card-title">Error al enviar Notificacion</h1>
    </div>
    <div class="card-body">
        <p>Se ha producido un error al enviar la notificacion </p>
    </div>
</div>