<form asp-action="Create" class="card bg-primary opacity-75">
    <div class="card-header text-white">
        <h4>Creacion de Bucket</h4>
    </div>
    <div class="card-body">
        <div class="input-group">
            <label class="text-white form-label">Nombre del Bucket</label>
            <input name="bucketName" class="form-control" />
        </div>
    </div>
    <div class="card-footer">
        <button type="submit" class="btn btn-primary">Crear</button>
    </div>
</form>
<a asp-action="Index" class="btn btn-dark">Volver al listado</a>