@model IEnumerable<string>

<a asp-action="Create" class="btn btn-primary">Crear bucket</a>
@if (Model.Count() > 0){  
    @foreach(string bucket in Model){
        <div class="card bg-primary opacity-75">
            <div class="card-body">
                <p class="text-white">
                    @bucket
                </p>
            </div>
            <div class="card-footer">
                <form asp-action="Delete">
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                </form>
            </div>
        </div>
    }
}else{
    <p> No se han creado buckets</p>
}