<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-6 text-center">
      <!-- Título con diseño moderno -->
      <h1 class="display-4 text-primary mb-3">Sports Shop</h1>
      <!-- Subtítulo -->
      <!--<p class="lead text-muted mb-4">Wholesale store for sports equipment</p>-->
      <div class="bg-light py-4 px-3 rounded shadow-sm text-center">
        <p class="lead text-primary font-weight-bold mb-0">Wholesale Store for Sports Equipment</p>
        <!-- Imagen con un borde y sombra sutil -->
        <img src="assets/images/sportsLogo.png" class="img-fluid rounded shadow-lg" alt="Sports Logo">
      </div>
    </div>
  </div>
</div>
