/* Asegúrate de que los botones no activos se vean bien */
/* Estilos para el enlace en estado inactivo */
.nav-link {
    display: block;
    padding: 10px 15px;
    margin: 5px 0;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
}

/* Enlace no activo */
.nav-link:not(.active) {
    background-color: transparent;
    border: 2px solid #007bff; /* Borde azul */
    color: #212529; /* Texto oscuro para enlaces no activos */
}

/* Enlace activo */
.nav-link.active {
    font-weight: bold;
    background-color: #007bff !important; /* Fondo azul */
    color: white;
}
