<div class="bg-info text-white m-2 p-2">
  The are {{model.getCourses().length}} courses in the model
</div>
<!-- Ejercicio 10.1-->
<p class="text-center mt-2 mb-2">Ejercicio 10.1</p>
<div class="p-2"
     [class.bg-warning]="model.getCourse(2)?.seatCapacity < 17"
     [class.bg-success]="model.getCourse(2)?.seatCapacity >= 17">
  the second course is {{model.getCourse(2).title }}
</div>
<!-- Ejercicio 10.2-->
<p class="text-center mb-2">Ejercicio 10.2</p>
<div class="p-2 " [ngClass]="getClassesMap(1)">
  the first course is {{model.getCourse(1).title }}
</div>
<div class="p-2 " [ngClass]="getClassesMap(2)">
  the second course is {{model.getCourse(2).title }}
</div>
<div class="p-2 " [ngClass]="getClassesMap(3)">
  the third course is {{model.getCourse(3).title }}
</div>

<!--Ejercicio 10.3 -->
<p class="text-center mb-2">Ejercicio 10.3</p>
<div [ngStyle]="getStyles(1)">
  The first course is {{model.getCourse(1).title }}
</div>
<div [ngStyle]="getStyles(2)">
  The second course is {{model.getCourse(2).title }}
</div>
<div [ngStyle]="getStyles(3)">
  The third course is {{model.getCourse(3).title }}
</div>
<!--Ejercicio 11.1-->
<p class="text-center mb-2">Ejercicio 11.1</p>
<div class="text-white m-2">
  <div class="bg-info p-2">
    There are {{getCourseCount()}} courses.
  </div>
  <div class="bg-success" *ngIf="getCourseCount() >= 4 && getCourse(1).title !='Angular'">
    There are 4 or more courses and the first course isn't named Angular
  </div>
</div>
<!--Ejercicio 11.2-->
<p class="text-center mb-2">Ejercicio 11.2</p>
<div class="m-2">
  <table class="table table-sm table-bordered mt-1 text-dark">
    <thead>
      <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Seat Capacity</th>
        <th>Instructor Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let course of getCourses(); let i = index; let odd = odd; let c = count">
        <td [class.bg-primary]="odd" [class.bg-info]="!odd">{{i + 1}}</td>
        <td [class.bg-primary]="odd" [class.bg-info]="!odd">{{course.title}}</td>
        <td [class.bg-primary]="odd" [class.bg-info]="!odd">{{course.seatCapacity}}</td>
        <td [class.bg-primary]="odd" [class.bg-info]="!odd">${{course.instructorName}}</td>
      </tr>
    </tbody>
  </table>
</div>
