@using MultiplesTablesCoreApp.Models
@model Enrollment

@{
    ViewData["Title"] = "AlreadyEnrolled";
}

<h1>Already Enrolled!</h1>

<div class="card p-4 shadow mb-3">
    <p>⚠️The student: @Model.Student!.StudentName is already enrolled on the course @Model.Course!.CourseTitle</p>
</div>
<p><a asp-action="AllCourse" asp-controller="Course" class="btn btn-primary">Back</a></p>
