@using MultiplesTablesCoreApp.Models
@model IEnumerable<Enrollment>

@{
    ViewData["Title"] = "EnrolledStudents";
}

<h1>Enrolled Students</h1>
@{
    if (Model.Count() < 1)
    {
        <p>No enrollments in this course yet</p>
    }
    else
    {
        <h2>Course: @Model.First().Course!.CourseTitle</h2>
        <h4>All Enrolled Students</h4>
        <table class="table table-striped">
            <tr>
                <th>ID</th>
                <th>Student Name</th>
            </tr>
            @foreach (var student in Model)
            {
                <tr>
                    <td>@student.Student!.StudentId </td>
                    <td>@student.Student.StudentName</td>
                </tr>
            }
        </table>
    }
}
<p><a asp-action="AllCourse" asp-controller="Course" class="btn btn-primary mt-3">Back</a></p>

