<div class="container-fluid">
    <a asp-action="AddTransaction" class="btn btn-success">Crear Transaccion</a>    
    <a asp-action="Auditoria" class="btn btn-outline-info">Auditoria</a>    
    <a asp-action="TransaccionesPendientes" class="btn btn-warning">Transacciones Pendientes</a>    
</div>