<!--<div class="bg-info p-2 text-white">
  <div>{{getProducts() | json}}</div>
</div>
<div>
  <label>Numbers of items</label>
  <select [(ngModel)]="itemCount" (change)="itemCount=$any($event).target.value">
    <option *ngFor="let item of getProducts(); let i = index" [value]="i+1">
      {{i+1}}
    </option>
  </select>
</div>
<div class="my-2">
  <label>Tax Rate:</label>
  <select class="form-select" [value]="taxRate || 0" (change)="taxRate=$any($event).target.value">
    <option value="0">None</option>
    <option value="10">{{0.1 | percent}}</option>
    <option value="20">{{0.2 | percent}}</option>
    <option value="50">{{0.5 | percent}}</option>
    <option value="150">{{1.5 | percent}}</option>
  </select>
</div>
<div class="my-2">
  <label>Category Filter:</label>
  <select class="form-select" [(ngModel)]="categoryFilter">
    <option>None</option>
    <option>Watersports</option>
    <option>Soccer</option>
    <option>Chess</option>
  </select>
</div>-->
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Index</th>
      <th>Name</th>
      <th>Category</th>
      <th>Price</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <!--
    con "paginador"
    <tr *paFor="let item of (getProducts() ?? []) | slice: 0 : (itemCount || 1) | categoryFilter:categoryFilter; let i=index let odd=odd; let even=even"
      [class.bg-info]="odd" [class.bg-warning]="even" class="align-middle">-->
    <tr *paFor="let item of (getProducts() ?? []) let i=index; let odd=odd; let even=even"
        class="align-middle">
      <td [class.bg-info]="odd" [class.bg-warning]="even" >{{i+1}}</td>
      <td [class.bg-info]="odd" [class.bg-warning]="even" >{{item.name }}</td>
      <td [class.bg-info]="odd" [class.bg-warning]="even" >{{item.category }}</td>
      <td [class.bg-info]="odd" [class.bg-warning]="even" [appDiscountAmount]="item.price" #discount="discount" >{{ discount.discountAmount | currency:"EUR":"symbol":"1.0-2" }}</td>
      <td class="text-center">
        <button class="btn btn-danger btn-sm" (click)="deleteProduct(item.id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
<app-discount-display></app-discount-display>
<app-discount-editor></app-discount-editor>

<!--<div class="bg-info text-white p-2">
  <div>
    Counter: {{numbers | async | currency: "USD":"symbol":"1.0-2"}}
  </div>
</div>-->

<!--<div class="bg-info p-2 text-white">
  <div>Date Formatted from object {{ dateObject | date }}</div>
  <div>Date Formatted from string {{ dateString | date }}</div>
  <div>Date Formatted from number {{ dateNumber | date }}</div>
</div>-->
