@using MultiplesTablesCoreApp.Models
@model Instructor

<form asp-action="AddInstructor" method="post">
    <label asp-for="InstructorName">Name</label>
    <input asp-for="InstructorName" class="form-control"/>
    <button type="submit" class="btn btn-success">Add Instructor</button>
</form>