<h1>Login Empleados</h1>
<form method="post">
    <div>
        <label>Apellido</label>
        <input type="text" name="username" class="form-control"/>
    </div>
    <div>
        <label>Id Empleado</label>
        <input type="text" name="password" class="form-control"/>
    </div>
    <button type="submit" class="btn btn-success">
        Log In 
    </button>
</form>
<h1 style="color: red">@ViewData["MENSAJE"]</h1>