@model Contact
<div class="card p-4 mt-5 bg-success shadow opacity-75">
    <div class="card-body text-center">
        <h5 class="card-title">Contact @Model.Name has successfully been added ✅ </h5>
        <p>We will contact you soon</p>
    </div>
</div>