@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Clave Secreto</th>
                <th>Clave Key</th>
                <th>Clave Certificado</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@ViewData["secreto"]</td>
                <td>@ViewData["key"]</td>
                <td><pre>@ViewData["cert"]</pre></td>
            </tr>
        </tbody>
    </table>
</div>
