@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Fecha y hora almacenada en la cache: <strong>@ViewBag.CachedTime</strong></p>
</div>
